.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color:#fff;
	}
.marker-cluster span {
	line-height: 30px;
	}

	.marker-cluster-online {
		background-color:rgba(82, 196, 26, 0.44);
	}
	.marker-cluster-online div {		
		background-color: rgb(82, 196, 26);
	}
	.marker-cluster-offline {
		background-color:rgba(255, 255, 255, 0.3);
	}
	.marker-cluster-offline div {		
		background-color:rgb(102, 102, 102);
	}
	.marker-cluster-nonFixed {
		background-color:rgba(255, 60, 48, 0.44);
	}
	.marker-cluster-nonFixed div {		
		background-color:rgb(255, 60, 48);
	}
	.marker-cluster-fixed {
		background-color: rgba(19, 194, 194, 0.44);
	}
	.marker-cluster-fixed div {		
		background-color:rgb(19, 194, 194);
	}