.el-button.is-text:not(.is-disabled):hover {
    text-decoration: underline;
}

.el-button.is-text.is-disabled {
    color: var(--el-color-info-light-5) !important;

}

.el-button.is-text.is-disabled:hover {
    color: var(--el-color-info-light-5) !important;
}
