@use './variables';
@use "./reset";
@use './dark';

@use './element-plus.scss';

.app_container {
    padding: 12px;
}

.app_card {
    box-sizing: border-box;
    padding: 16px;
    overflow-x: hidden;
    background-color: var(--el-bg-color);
    border: 1px solid var(--el-border-color-light);
    border-radius: 6px;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}

:deep(.el-button.is-text) {
    span:hover {
        border-bottom: 1px solid var(--el-color-primary) !important;
    }
}

// 滚动条样式
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--el-color-primary);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 6px;
}
.flex {
    @include flex;
  }
  
  
  
  .flex-center {
    @include flex(center, center);
  
  }
  
  .flex-justify-center {
    @include flex($hor: center);
  
  }
  
  .flex-align-center {
    @include flex($col: center);
  
  }
  
  .flex-space-between {
    @include flex(space-between, center);
  
  }
  
  .flex-space-around {
    @include flex(space-around, center);
  
  }
  
  .flex-end {
    @include flex(flex-end, center);
  
  }
  
  .flex-column {
    @include flex($direction: column);
  
  }
  .delete-confirm-btn{
    // background-color: var(--danger-color)!important;
    // border-color: var(--danger-color)!important;

    --el-button-text-color: var(--el-color-white)!important;;
    --el-button-bg-color: var(--el-color-danger)!important;;
    --el-button-border-color: var(--el-color-danger)!important;;
    --el-button-outline-color: var(--el-color-danger-light-5)!important;;
    --el-button-active-color: var(--el-color-danger-dark-2)!important;;
    --el-button-hover-text-color: var(--el-color-white)!important;;
    --el-button-hover-link-text-color: var(--el-color-danger-light-5)!important;;
    --el-button-hover-bg-color: var(--el-color-danger-light-3)!important;;
    --el-button-hover-border-color: var(--el-color-danger-light-3)!important;;
    --el-button-active-bg-color: var(--el-color-danger-dark-2)!important;;
    --el-button-active-border-color: var(--el-color-danger-dark-2)!important;;
    --el-button-disabled-text-color: var(--el-color-white)!important;;
    --el-button-disabled-bg-color: var(--el-color-danger-light-5)!important;;
    --el-button-disabled-border-color: var(--el-color-danger-light-5)!important;;
}