@import "./reset";
@import './variables';
@import './dark';
@import './element-plus.scss';

.app_container {
    padding: 12px;
}

.app_card {
    box-sizing: border-box;
    padding: 16px;
    overflow-x: hidden;
    background-color: var(--el-bg-color);
    border: 1px solid var(--el-border-color-light);
    border-radius: 6px;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}

:deep(.el-button.is-text) {
    span:hover {
        border-bottom: 1px solid var(--el-color-primary) !important;
    }
}

// 滚动条样式
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--el-color-primary);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 6px;
}